---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Darrian Bagley" description="About Darrian Bagley Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero title="About" tagline="Thanks for stopping by. Read below to learn more about myself and my background.">
				<img width="1553" height="873" src=`${import.meta.env.BASE_URL}/assets/at-work.jpg` alt="Darrian Bagley at work with a colleague" />
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Hi, I'm Darrian Bagley, a Full Stack Web Developer and UI/UX Designer with a passion for creating functional and innovative digital solutions. I have experience in
						developing web applications using WordPress, HTML, CSS, JavaScript, PHP, and MySQL, as well as designing user interfaces and user experiences using Adobe Illustrator,
						InDesign, Photoshop, and After Effects. I also have skills in Google Ads, Google Tag Manager, social media marketing, and data analysis.
					</p>
					<p>
						I'm currently working as a web developer at Swope, Rodante P.A., where I'm responsible for maintaining and updating their website, as well as creating new features and
						functionalities. I'm also a graduate of the SCF Coding Academy's first software engineering cohort, where I learned how to build full stack web applications using
						modern technologies and best practices.
					</p>
					<p>
						I'm always eager to learn new skills and tools, and to collaborate with other developers and designers on exciting projects. If you want to know more about me or see
						some of my work, please visit my portfolio website1 or connect with me on LinkedIn.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						I have a Bachelor of Arts (B.A.) in Advertising from Harding University, where I also worked as a graphic designer and editor for The Bison newspaper. I won several
						awards for my editorial design and page layouts, as well as created engaging animated infographics and social media content. I also redesigned the website for Goodwill
						Industries of Arkansas using WordPress and Google Ads to increase their online presence and donations.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<h3>Web Development</h3>
					<ul>
						<li>HTML, CSS, JavaScript</li>
						<li>React</li>
						<li>Svelte</li>
						<li>SQL & PostgresSQL</li>
						<li>Ruby on Rails</li>
						<li>Python</li>
						<li>UI/UX Design</li>
						<li>WordPress</li>
						<li>HubSpot</li>
						<li>Github</li>
					</ul>
					<h3>Google Marketing Platform</h3>
					<ul>
						<li>Google Analytics</li>
						<li>Google Tag Manager</li>
						<li>Google Optimize</li>
						<li>Google Search Console</li>
					</ul>
					<h3>Adobe Creative Cloud</h3>
					<h3>Graphic Design</h3>
					<h3>Office 365</h3>
					<h3>Google Workspace</h3>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
